div#bundlesWrapper.wrapper
  navigator
  #bundlesMain
    datalist(id="periods")
      option(value="est for: 1 week")
      option(value="est for: 2 weeks")
      option(value="est for: 1 month")
    #planHolder
      .plan
        .planTitle.floater
          p Light Plan >
        .planBody
          .planImg
          .planDesc
            p.planHeader Based on 2 bedroom, 1 kitchen, 1 bath
            ul.planFeatures
              li 1 * refridgerator
              li 1 * television
              li 5 * flourescent bulb
              li 2 * standing fan
              
              
          .planCost
            .planCalcHolder
              .planCalcLeft
                input(list="periods" value="est for: 1 month")
                .wattHolder
                  p 1000 Kw/h
              .planCalcRight
                .priceHolder
                  p $
                    span 2000 JA
                
            
        .planFooter
          p Click on a Plan to View Details or Customize
      .plan
        .planTitle.floater
          p Medium Plan >
        .planBody
          .planImg
          .planDesc
            p.planHeader Based on 2 bedroom, 1 kitchen, 1 bath
            ul.planFeatures
              li 1 * refridgerator
              li 1 * television
              li 5 * flourescent bulb
              li 2 * standing fan
              
              
          .planCost
            .planCalcHolder
              .planCalcLeft
                input(list="periods" value="est for: 1 month")
                .wattHolder
                  p 1000 Kw/h
              .planCalcRight
                .priceHolder
                  p $
                    span 7000 JA
        .planFooter
          p Click on a Plan to View Details or Customize
      .plan
        .planTitle.floater
          p Heavy Plan >
        .planBody
          .planImg
          .planDesc
            p.planHeader Based on 2 bedroom, 1 kitchen, 1 bath
            ul.planFeatures
              li 1 * refridgerator
              li 1 * television
              li 5 * flourescent bulb
              li 2 * standing fan
              
              
          .planCost
            .planCalcHolder
              .planCalcLeft
                input(list="periods" value="est for: 1 month")
                .wattHolder
                  p 1000 Kw/h
              .planCalcRight
                .priceHolder
                  p $
                    span 10000 JA
        .planFooter
          p Click on a Plan to View Details or Customize
          
