div#bundlesWrapper.wrapper
  navigator
  #bundlesMain
    datalist(id="periods")
      option(value="est for: 1 week")
      option(value="est for: 2 weeks")
      option(value="est for: 1 month")
    #planHolder
      .plan
        .planTitle.floater(ng-click="setPlan('Light')")
          p Light Plan >
        .planBody
          .planImg
          .planDesc
            p.planHeader Based on 2 bedroom, 1 kitchen, 1 bath dwelling
            ul.planFeatures
              li 1 * refridgerator
              li 1 * television
              li 5 * flourescent bulb
              li 2 * standing fan
              
              
          .planCost
            .planCalcHolder
              .planCalcLeft
                input(list="periods" value="est for: 1 month")
                .wattHolder
                  p 60 Kw/h
              .planCalcRight
                .priceHolder
                  p $
                    span 2600 JA
                
            
        .planFooter
          p Click on a Plan to View Details or Customize
      .plan
        .planTitle.floater(ng-click="setPlan('Medium')")
          p Medium Plan >
        .planBody
          .planImg
          .planDesc
            p.planHeader Based on 4 bedroom, 1 kitchen, 2 bath dwelling
            ul.planFeatures
              li 1 * refridgerator
              li 2 * television
              li 5 * flourescent bulb
              li 3 * standing fan
              li 1 * microwave
              li 1 * water heater
              
          .planCost
            .planCalcHolder
              .planCalcLeft
                input(list="periods" value="est for: 1 month")
                .wattHolder
                  p 180 Kw/h
              .planCalcRight
                .priceHolder
                  p $
                    span 7400 JA
        .planFooter
          p Click on a Plan to View Details or Customize
      .plan
        .planTitle.floater(ng-click="setPlan('Heavy')")
          p Heavy Plan >
        .planBody
          .planImg
          .planDesc
            p.planHeader Based on 6 bedroom, 1 kitchen, 4 bath dwelling
            ul.planFeatures
              li 2 * refridgerator
              li 3 * television
              li 8 * energy saving bulb
              li 5 * standing fan
              li 1 * water heater
              li 1 * ac unit
              
              
          .planCost
            .planCalcHolder
              .planCalcLeft
                input(list="periods" value="est for: 1 month")
                .wattHolder
                  p 510 Kw/h
              .planCalcRight
                .priceHolder
                  p $
                    span 20000 JA
        .planFooter
          p Click on a Plan to View Details or Customize
          
