div#customizeWrapper.wrapper
  navigator
  #customizeMain
    #customizerLeft
      #selectorHolder
        #planTitle.floater
          p Basic Plan
        #selector
          ul.iconHolder
            li.iconFrame icon
            li.iconFrame icon
            li.iconFrame icon
            li.iconFrame icon
            li.iconFrame icon
            li.iconFrame icon
            li.iconFrame icon
            li.iconFrame icon
            li.iconFrame icon
      #resultHolder
        #breakdownHolder
          #breakdownHeader
            p BreakDown
          #breakdown
            ul
              li
                div
                  p Fridge
                  input(type='text' value='1')
                div
                  input(type='text' value='4')
                  span h/day
                div
                  input(type='text' value='1000') 
                  span KWH 
                  span.small avg
                div
                  p $500/day
              li
                div
                  p Fridge
                  input(type='text' value='1')
                div
                  input(type='text' value='4')
                  span h/day
                div
                  input(type='text' value='1000') 
                  span KWH 
                  span.small avg
                div
                  p $500/day
              li
                div
                  p Fridge
                  input(type='text' value='1')
                div
                  input(type='text' value='4')
                  span h/day
                div
                  input(type='text' value='1000') 
                  span KWH 
                  span.small avg
                div
                  p $500/day
              li
                div
                  p Fridge
                  input(type='text' value='1')
                div
                  input(type='text' value='4')
                  span h/day
                div
                  input(type='text' value='1000') 
                  span KWH 
                  span.small avg
                div
                  p $500/day
              li
                div
                  p Fridge
                  input(type='text' value='1')
                div
                  input(type='text' value='4')
                  span h/day
                div
                  input(type='text' value='1000') 
                  span KWH 
                  span.small avg
                div
                  p $500/day
              li
                div
                  p Fridge
                  input(type='text' value='1')
                div
                  input(type='text' value='4')
                  span h/day
                div
                  input(type='text' value='1000') 
                  span KWH 
                  span.small avg
                div
                  p $500/day

    #calculationsHolder
      #periodHolder
        input(list="periods" value="1 month")
      #kwattHolder
        #kcircle
          #kcircleTitle
            p 1000 Kwh
      #finalpriceHolder
        #kcircle
          #kcircleTitle
            p $ 11000 JA
    datalist(id="periods")
      option(value="1 month")
      option(value="1 week")
      option(value="2 weeks")
