div#customizeWrapper.wrapper
  navigator
  #customizeMain
    #customizerLeft
      #selectorHolder
        #planTitle.floater
          p {{plan}} Plan
        #selector
          ul.iconHolder
            li.iconFrame(ng-repeat="icon in icons" ng-class="{selected:icon.selected ==true}" ng-click="select($index)")
              p {{icon.abrv}}
      #resultHolder
        #breakdownHolder
          #breakdownHeader
            p BreakDown
          #breakdown
            ul
              li(ng-repeat="app in appliances")
                div
                  p {{app.name}}
                  input(type='text' ng-model="appliances[$index].amount")
                div
                  input(type='text' ng-model="appliances[$index].hours" )
                  span h/day
                div
                  input(type='text' ng-model="appliances[$index].watt") 
                  span W/h 
                  span
                div
                  p $ {{cost(app)}} /day

    #calculationsHolder
      #periodHolder
        input(list="periods" ng-model="period")
      #kwattHolder
        #kcircle
          #kcircleTitle
            p {{sumWatt()*parser(period)}} KWH
      #finalpriceHolder
        #kcircle
          #kcircleTitle
            p $ {{sumCost()*parser(period)}} JA
    datalist(id="periods")
      option(value="1 month")
      option(value="1 week")
      option(value="2 weeks")
