div#homeWrapper.wrapper
  #hero
    #signUp.floater Sign Up
  #main
    #optionsHolder
      .option
        .circle
          .titleHolder
            a(ui-sref="bundles") Select Bundle
        .description
          p.
            view categories of available bundles
      .option 
        .circle
          .titleHolder
            a(ui-sref="customize") Custom Bundle
        .description
          p.
            create your own personalized bundle from scratch
      .option 
        .circle
          .titleHolder
            a(ui-sref="bundles") TopUp
        .description
          p.
            add credit to your pre paid account
  footer
    .left
      .learn
        p Learn More ->
      .features
        h2 Key Features
        br
        ul
          li No more Fees
          li No more deposits
          li No more disconnects
          li No more 'surprise' bill at the end of the month
    .right
      iframe(width="640" height="360" src="https://www.youtube.com/embed/cbeEOALOCt4" frameborder="0" allowfullscreen)
