nav#navigator
  #logo
    p JPS 
      span pay as you go
  #pager
    .pageOption
      p 
        a(ui-sref="landing") Home
    .pageOption
      p 
        a(ui-sref="bundles") Bundles
    .pageOption
      p 
        a(ui-sref="customize") Customize
    .pageOption
      p SignUp
