
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
  background transparent
  border 0
  font-size 100%
  margin 0
  outline 0
  padding 0
  vertical-align baseline

body
  line-height:1;

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display block

nav ul
  list-style none

blockquote, q
  quotes none

blockquote:before, blockquote:after,
q:before, q:after
  content ''
  content none

a
  background transparent
  font-size 100%
  margin 0
  padding 0
  vertical-align baseline

/* change colours to suit your needs */
ins
    background-color #ff9
    color #000
    text-decoration none

/* change colours to suit your needs */
mark
  background-color #ff9
  color #000
  font-style italic
  font-weight bold

del
  text-decoration line-through

abbr[title], dfn[title]
  border-bottom 1px dotted
  cursor help

table
  border-collapse collapse
  border-spacing 0

/* change border colour to suit your needs */
hr
  border 0
  border-top 1px solid #ccc
  display block
  height 1px
  margin 1em 0
  padding 0

input, select
  vertical-align middle


*
  box-sizing border-box
body,html
  height 100%
  width 100%
  background-color #E6EDF7
  font-family "PT Sans"

.wrapper
  height 100%
  width 100%

#hero
  position relative
  height 300px
  width 100%
  
#hero:before
  position absolute
  width 100%
  height 100%
  content ''
  background-image url(/app/banner.jpg)
  background-size 100% 130%
  background-repeat no-repeat
  background-position left -60px
  -webkit-filter brightness(1.4) sepia(1) brightness(0.6) grayscale(0.7)
  
  
.floater
  height 50px
  width 220px
  text-align center
  line-height 50px
  box-shadow 2px 1px 30px rgba(60, 54, 54, 0.42)
  color #f7f7f7
  font-weight Bold
  font-family "PT Sans"
  font-size 20px
  &:hover
    cursor pointer
  
#signUp
  position absolute
  bottom -20px
  left 60px  
  background-color #deb81b

  
#main
  padding 50px
  height 100%
  width 100%

#optionsHolder
  display flex
  justify-content space-between
  width 100%
  height 280px
  padding-left 50px
  padding-right 50px
  
.option
  width 230px
   
.circle
  display block
  position relative
  top 0
  height 230px
  width 230px
  text-align center
  transition-property top
  transition-duration 0.3s
  &:hover
    cursor pointer
    top -5px
  
.circle:after
  box-sizing border-box
  position absolute
  top 0px
  left 0px
  width 100%
  height 100%
  content ''
  border 3px solid rgba(49, 76, 78, 0.1)
  border-radius 200px
  
.circle:before
  box-sizing border-box
  position absolute
  top 50%
  left 50%
  width 104%
  height 104%
  content ''
  border 5px solid rgba(222, 207, 52, 0.4)
  border-radius 200px
  transform translate(-50%,-50%)
  box-shadow -4px 4px 10px rgba(118, 118, 118, 0.22)
  transition-property box-shadow 
  transition-duration 0.3s
.circle:hover:before
  box-shadow -6px 6px 12px rgba(214, 214, 40, 0.26)
  
.titleHolder
  z-index 2
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)
  font-size 40px
  font-family Raleway
  font-weight 100
  
a
  text-decoration none
  color #1B9BDE
 
.description
  padding 10px
  margin 0 auto
  text-align center
  width 100%
  height 60px
  font-size 20px
  font-family "Open Sans"
  color #5d5858
  
  
footer
  display flex
  height 500px
  width 100%
  background-color #3F4658
  
.left
  width 70%
  height 100%

.learn
  height 90px
  background-color #1B9BDE
  text-align left
  font-family Raleway
  line-height 90px
  font-size 40px
  font-weight 100
  padding-left 60px
  color #e5dbdb
  &:hover
    cursor pointer
  
.features
  width 100%
  height 100%
  padding 50px
  color #becbcc
  font-size 20px
  
.right
  position relative
  width 100%
  height 100%
  iframe
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
  
//Bundles page

#navigator
  position fixed
  display flex
  z-index 2
  top 0px
  left 0px
  height 65px
  width 100%
  background-color #fff
  
#logo
  line-height 60px
  font-size 30px
  font-weight Bold
  color #faf103
  padding-left 20px
  width 500px
  p
    span
      color #8b8686
      font-size 20px

#pager
  display flex
  width 100%

.pageOption
  width 100%
  line-height 60px
  
#bundlesMain
  width 100%
  height 100%
  padding-top 65px
#planHolder
  width 100%
  height 100%
  padding-top 50px

.plan
  position relative
  height 330px
  width 100%
  
.plan:nth-child(odd)
  background-color #1B9BDE
.plan:nth-child(even)
  background-color #ab5ab9
  
.planTitle
  position absolute
  top -20px
  left 20px
  background-color #deb81b
  
.planBody
  padding 20px
  height 290px
  width 100%
  display flex
  
.planImg,planDesc,planCost
  height 100%
  
.planImg
  flex-grow 2
  
.planDesc
  flex-grow 2
  
.planHeader
  color #f4f4f4
  font-weight Bold
  font-size 20px
  
.planFeatures
  padding 10px
  padding-left 40px
  font-family "Open Sans"
  color #e4e1e1
  li
    padding 5px
  
.planCost
  position relative
  flex-grow 3
 
.planCalcHolder
  position absolute
  display flex
  bottom 0px
  
.planCalcLeft
  flex-grow 1
  input
    height 40px
    width 200px
    font-family "Open Sans"
    font-weight Bold
    color #909090
    padding-left 20px
    border none
    
.wattHolder
  padding-left 20px
  font-weight Bold
  background-color #6CC0E5
  height 40px
  line-height 40px
  width 200px
  color #262626
  font-size 20px
  
.planCalcRight
  flex-grow 1
  padding-top 40px
  
.priceHolder
  margin-left 10px
  font-weight Bold
  background-color #e5ad6c
  height 40px
  line-height 40px
  width 160px
  color #262626
  text-align center
  font-size 20px
.planFooter
  height 40px
  width 100%
  background-color #3F4658
  text-align center
  font-family "Open Sans"
  color rgba(255, 255, 255, 0.47)
  line-height 40px
  font-weight Bold
  
  
//customize page
#customizeMain
  width 100%
  height 100%
  padding-top 65px
  display flex
  
#customizerLeft
  width 50%
#selectorHolder
  position relative
  margin-top 50px
  width 100%
  height 300px
  background-color #3F4658
  
#planTitle
  position absolute
  top -20px
  left 20px
  background-color #deb81b
  
#selector
  height 100%
  width 50%
  margin 0 auto
  padding-top 40px
  border-left 1px solid rgba(77, 73, 73, 0.35)
  border-right 1px solid rgba(77, 73, 73, 0.35)
  
.iconHolder
  padding 20px
  display flex
  list-style none
  justify-content space-between
  flex-wrap wrap
  li
    width 20%
    text-align center
    font-weight Bold
    color #b7bfbf
    padding 5px
    &:hover
      cursor pointer
      color #aaebeb
    
.selected
  color #aaebeb !important
  border 1px solid rgba(105, 141, 154, 0.48)
  text-shadow 1px 2px 10px rgba(162, 162, 162, 0.5)
  
#resultHolder
  width 100%
  height 100%
  
#breakdownHolder
  width 100%
  background-color #fff
  color #e8e8e8
  
#breakdownHeader
  width 100%
  height 40px
  background-color #1B9BDE
  padding 40px
  padding-top 20px
  font-size 25px
  font-family Raleway
  font-weight Bold
  
#breakdown
  height 293px
  overflow hidden
  overflow-y scroll
  width 100%
  background-color #1B9BDE
  padding 50px
  padding-top 20px
  
#breakdown ul
  list-style none
  display flex
  justify-content space-between
  flex-wrap wrap
#breakdown ul li
  position relative
  display flex
  flex-direction column
  width 150px
  margin-bottom 20px
  
#breakdown ul li div
  display flex

  min-height 60px
  line-height 30px
  input
    width 55px
    height 30px
    text-align center
    font-family "Open Sans"
    font-weight Bold
    color #909090
    margin 0 5px
  p
    font-weight BOld
  
#breakdown ul li div:last-child
  background-color #32aa52
  max-height 30px 
  line-height 60px
  p
    width 100%
    text-align right
    padding 5px
    padding-top 0px
  
#calculationsHolder
  height 652px
  width 50%
  background-color #fff
  margin-top 50px
  
#periodHolder
  position relative
  width 100%
  height 100px
  input
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
    height 40px
    width 200px
    font-family "Open Sans"
    font-weight Bold
    color #909090
    text-align center
    font-size 20px
    
    
    
#kwattHolder,#finalpriceHolder
  position relative
  height 250px
  width 100%

#kcircle
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)
  height 200px
  width 200px
 
  
#kcircle:after
  box-sizing border-box
  position absolute
  top 0px
  left 0px
  width 100%
  height 100%
  content ''
  border 3px solid rgba(239, 199, 93, 0.53)
  border-radius 200px
//  clip: rect(0px,200px,150px,20px)
  
#kcircle:before
  box-sizing border-box
  position absolute
  top 50%
  left 50%
  width 104%
  height 104%
  content ''
  border 6px solid rgba(255, 196, 0, 0.96)
  border-radius 200px
  transform translate(-50%,-50%)
  
  
#kcircleTitle
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)
  text-align center
  font-family "Open Sans"
  font-weight Bold
  color #909090
  text-align center
  font-size 20px